body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f5af19, #f12711);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra gli elementi orizzontalmente */
    gap: 20px;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 20px;
}

form h2 {
    margin: 0 0 12px 0;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.button-form {
    background-color: #28a745;
    color: #fff;
}

.button-form:hover {
    background-color: #218838;
}

.button-put {
    background-color: #17a2b8;
    color: #fff;
}

.button-put:hover {
    background-color: #138496;
}

.button-delete {
    background-color: #dc3545;
    color: #fff;
}

.button-delete:hover {
    background-color: #c82333;
}

.button-selectbyid {
    background-color: #007bff;
    color: #fff;
}

.button-selectbyid:hover {
    background-color: #0069d9;
}

.button-login {
    background-color: #ffc107;
    color: #fff;
}

.button-login:hover {
    background-color: #e0a800;
}

.title-error,
.price-error,
.description-error,
.category-error,
.images-error {
    color: red;
    font-size: 14px;
    margin: 0;
}

.card-container {
    margin-top: 20px;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"] {
        width: calc(100% - 22px);
    }
}
