/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
}

h1 {
    color: #ff6347;
    margin-top: 20px;
    font-size: 2em;
}

h2 {
    color: #f39c12; /* Nuova tonalità di verde */
    margin-top: 20px;
    font-size: 1.5em;
    font-style: italic;
}

#searchBar {
    margin: 20px;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    font-size: 1em;
    border: 2px solid #ff6347;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.card {
    background-color: #2b2b2b;
    border: 1px solid #ff6347;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    max-width: 300px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ff6347;
}

.card h3 {
    margin: 10px;
    font-size: 1.2em;
    color: #ff6347;
}

.card p {
    margin: 10px;
    font-size: 0.9em;
    color: #ddd;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h3:hover {
    color: #fff;
}

.pagination {
    margin: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ff6347;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #e5533d;
}


#serieTv,
#film {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#serieTv:hover,
#film:hover {
    background-color: #e88e0f; 
}

/* Responsive */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .card {
        max-width: 100%;
    }
}
